$bodyBackground: #f2f2f2;
$restartButtonBg: #1E75C1;
$boardColor: #16a085;

$scoreBoardShadow: 0 0 10px rgba(255,255,255,1);

$appBackground: #7f8c8d;

$playerSidesBg: #ccc;
$statusText: #fff;
$statusMove: $boardColor;
$statusDraw: #9b59b6;
$statusWin: #2ecc71;

$cellColorBg: #7f8c8d;

$gridText: #fff;
$gridBg: #34495e;